.yuxarihisse{
    .shekil{
        img{
            width: 100vw;
        }
    }

    .three{
    display: flex;
  justify-content: center;

 
    .online{
        margin: 20px;
        margin-top: -300px;
        display: flex;
        background: rgba(0, 0, 0, 0.897);
        color: white;
        width: 300px;
        height: 150px;
        img{
            width: 50px;
            padding-left: 20px;
        }
        .cours{
            padding-top: 20px;
            padding-left: 30px;
        }
    }
}
}

