.ortahisse{
  
.asagihisse{
    display: flex;
    justify-content: center;

    .bolme{
        width: 300px;
        height: 300px;
        padding-left: 60px;
        text-align: start;
        color: #aaa;
h2{
    color: black;
}
        img{
            width: 50px;
            height: 50px;
        }
    }
}
}